<a href="https://colab.research.google.com/github/butterfly-pn/datalit-data-visualization/blob/master/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

Which properties are needed to predict species? + data visualization

<br>
Iris dataset is 4-dimensional:  the length and the width of the sepals and petals. This dataset is hard to visualize as it is. Let's start some processing.

In [10]:
import pandas as pd

iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
iris.sample(10)

       0    1    2    3                4
101  5.8  2.7  5.1  1.9   Iris-virginica
122  7.7  2.8  6.7  2.0   Iris-virginica
15   5.7  4.4  1.5  0.4      Iris-setosa
106  4.9  2.5  4.5  1.7   Iris-virginica
67   5.8  2.7  4.1  1.0  Iris-versicolor
11   4.8  3.4  1.6  0.2      Iris-setosa
109  7.2  3.6  6.1  2.5   Iris-virginica
1    4.9  3.0  1.4  0.2      Iris-setosa
111  6.4  2.7  5.3  1.9   Iris-virginica
119  6.0  2.2  5.0  1.5   Iris-virginica

In [23]:
label = iris.iloc[:, 4]
data = iris.iloc[:, 0:4]
print(label.head(5))
print(data.head(5))

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: 4, dtype: object
     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

## Data normalization

In [24]:
data = data.sub(data.mean(axis=0), axis=1)
data.head(5)

          0      1         2         3
0 -0.743333  0.446 -2.358667 -0.998667
1 -0.943333 -0.054 -2.358667 -0.998667
2 -1.143333  0.146 -2.458667 -0.998667
3 -1.243333  0.046 -2.258667 -0.998667
4 -0.843333  0.546 -2.358667 -0.998667